.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #484747;
    z-index: 3;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid #FDF351;
    border-radius: 50%;
    border-top-color: #4E567E;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: .6s spin infinite linear;
}

.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}